---
plugin: aws_ec2

regions:
  - us-east-1  # Change if your infrastructure is in a different region

filters:
  # Only target instances with specific tags
  tag:Environment: dev
  instance-state-name: running

keyed_groups:
  # Group instances by environment tag
  - key: tags.Environment
    prefix: env
  
  # Group by instance type
  - key: instance_type
    prefix: type

hostnames:
  - instance-id  # Use instance ID as hostname

compose:
  # Use SSM for connection
  ansible_connection: amazon.aws.aws_ssm
  ansible_aws_ssm_region: us-east-1
  ansible_python_interpreter: /usr/bin/python3
