---
- name: Deploy FastAPI Application
  hosts: env_dev  # Targets instances tagged with Environment: dev
  gather_facts: true
  become: false
  
  vars:
    ansible_connection: amazon.aws.aws_ssm
    ansible_aws_ssm_region: us-east-1
    ansible_user: ssm-user
    ansible_python_interpreter: /usr/bin/python3
    docker_image: "danblanco/fastapi-cicd:latest"   # UPDATE THIS!
  
  tasks:
    - name: Display target hosts
      ansible.builtin.debug:
        msg: "Deploying to {{ inventory_hostname }}"
    
    - name: Include docker_app role
      ansible.builtin.include_role:
        name: docker_app


